<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hzvtc.dao.UserMapper">
    <resultMap id="BaseResultMap" type="cn.edu.hzvtc.pojo.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_password" jdbcType="VARCHAR" property="userPassword"/>
        <result column="user_operator_id" jdbcType="INTEGER" property="userOperatorId"/>
        <result column="user_operator_time" jdbcType="TIMESTAMP" property="userOperatorTime"/>
        <result column="user_type" jdbcType="INTEGER" property="userType"/>
        <result column="user_area_id" jdbcType="INTEGER" property="userAreaId"/>
        <result column="user_del_state" jdbcType="INTEGER" property="userDelState"/>
    </resultMap>
    <!--登录map-->
    <resultMap id="LoginResultMap" type="cn.edu.hzvtc.pojo.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_password" jdbcType="VARCHAR" property="userPassword"/>
        <result column="user_operator_id" jdbcType="INTEGER" property="userOperatorId"/>
        <result column="user_operator_time" jdbcType="TIMESTAMP" property="userOperatorTime"/>
        <result column="user_type" jdbcType="INTEGER" property="userType"/>
        <result column="user_area_id" jdbcType="INTEGER" property="userAreaId"/>
        <result column="user_del_state" jdbcType="INTEGER" property="userDelState"/>
        <discriminator javaType="INTEGER" column="user_type">
            <case value="2">
                <collection property="area" select="cn.edu.hzvtc.dao.AreaMapper.selectByPrimaryKey"
                            column="user_area_id"/>
            </case><!--院校管理员-->
            <case value="3">
                <collection property="area" select="cn.edu.hzvtc.dao.AreaMapper.selectByPrimaryKey"
                            column="user_area_id"/>
            </case><!--院校人员-->
        </discriminator>
    </resultMap>
    <!--查询院校管理员列表-->
    <resultMap id="AreaAdminResultMap" type="cn.edu.hzvtc.pojo.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_password" jdbcType="VARCHAR" property="userPassword"/>
        <result column="user_operator_id" jdbcType="INTEGER" property="userOperatorId"/>
        <result column="user_operator_time" jdbcType="TIMESTAMP" property="userOperatorTime"/>
        <result column="user_type" jdbcType="INTEGER" property="userType"/>
        <result column="user_area_id" jdbcType="INTEGER" property="userAreaId"/>
        <result column="user_del_state" jdbcType="INTEGER" property="userDelState"/>
        <collection property="userOperator" select="cn.edu.hzvtc.dao.UserMapper.selectByPrimaryKey"
                    column="user_operator_id"/>
        <collection property="area" select="cn.edu.hzvtc.dao.AreaMapper.selectByPrimaryKey"
                    column="user_area_id"/>
    </resultMap>

    <!--    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">-->
    <!--    delete from sys_user-->
    <!--    where id = #{id,jdbcType=INTEGER}-->
    <!--  </delete>-->
    <!--添加院校管理员-->
    <insert id="insert" parameterType="cn.edu.hzvtc.pojo.User">
    insert into sys_user (id, user_name, user_password, 
      user_operator_id, user_operator_time, user_type, 
      user_area_id)
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, 
      #{userOperatorId,jdbcType=INTEGER}, #{userOperatorTime,jdbcType=TIMESTAMP}, #{userType,jdbcType=INTEGER}, 
      #{userAreaId,jdbcType=INTEGER})
  </insert>
    <update id="updateByPrimaryKey" parameterType="cn.edu.hzvtc.pojo.User">
    update sys_user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_operator_id = #{userOperatorId,jdbcType=INTEGER},
      user_operator_time = #{userOperatorTime,jdbcType=TIMESTAMP},
      user_type = #{userType,jdbcType=INTEGER},
      user_area_id = #{userAreaId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_name, user_password, user_operator_id, user_operator_time, user_type, 
    user_area_id
    from sys_user
    where id = #{id,jdbcType=INTEGER}
    and user_del_state = 0
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, user_name, user_password, user_operator_id, user_operator_time, user_type, 
    user_area_id
    from sys_user
    where user_del_state = 0
  </select>

    <!-- 按照用户名查找用户信息 -->
    <select id="selectUserByNameAndPwd" parameterType="java.lang.String" resultMap="LoginResultMap">
        select id, user_name, user_password, user_operator_id, user_operator_time, user_type,
        user_area_id
        from sys_user
        where user_name = #{username,jdbcType=VARCHAR} and user_password = #{password,jdbcType=VARCHAR}
        and user_del_state = 0
    </select>
    <!--查询关联的操作人和所属区域信息-->
    <select id="selectAreaAdmins" resultMap="AreaAdminResultMap">
        select id, user_name, user_password, user_operator_id, user_operator_time, user_type,
        user_area_id,user_del_state
        from sys_user
        where user_type = 2
        <if test="userName != null &amp;&amp; userName != &quot;&quot;">
            and user_name like #{userName,jdbcType=VARCHAR}
        </if>
        <choose>
            <when test="schoolId > 0">
                and user_area_id = #{schoolId,jdbcType=INTEGER}
            </when>
            <when test="cityId > 0">
                and user_area_id in (select id from sys_area where area_del_state = 0 and area_parent_id = #{cityId} )
            </when>
            <when test="provinceId > 0">
                and user_area_id in
                (select id from sys_area where area_del_state = 0 and area_parent_id in
                (select id from sys_area where area_del_state = 0 and area_parent_id =#{provinceId})
                )
            </when>
        </choose>
        and user_del_state = 0
        order by user_area_id,id
    </select>
    <!--批量删除-->
    <update id="deleteByPrimaryKeyList">
        update sys_user
        set user_del_state = 1
        <foreach collection="list" item="id" separator="," open="where id in (" close=")">
            #{id}
        </foreach>
    </update>
    <!--删除-->
    <update id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        update sys_user
        set user_del_state = 1
        where id = #{id,jdbcType=INTEGER}
  </update>
    <!--根据id查询用户信息-->
    <select id="getUserById" parameterType="java.lang.Integer" resultMap="AreaAdminResultMap">
    select id, user_name, user_password, user_operator_id, user_operator_time, user_type,
    user_area_id
    from sys_user
    where id = #{id,jdbcType=INTEGER}
    and user_del_state = 0
  </select>
    <!--修改信息-->
    <update id="updateById" parameterType="cn.edu.hzvtc.pojo.User">
    update sys_user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_operator_id = #{userOperatorId,jdbcType=INTEGER},
      user_operator_time = #{userOperatorTime,jdbcType=TIMESTAMP},
      user_area_id = #{userAreaId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <!-- 按照用户名查找密码 -->
    <select id="selectPwdByName" parameterType="java.lang.String" resultMap="LoginResultMap">
        select id, user_name, user_password, user_operator_id, user_operator_time, user_type,
        user_area_id
        from sys_user
        where user_name = #{username,jdbcType=VARCHAR}
        and user_del_state = 0
    </select>
    <!--重置密码-->
    <update id="resetPwd" parameterType="cn.edu.hzvtc.pojo.User">
    update sys_user
    set user_password = #{pwd,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <!--统计数-->
    <select id="getCount" parameterType="cn.edu.hzvtc.pojo.User" resultType="java.lang.Long">
        select count(*)
        from sys_user
        where user_del_state = 0
    </select>
</mapper>